.standard {
	FONT-SIZE: 11px; 
	COLOR: #000000; 
	FONT-FAMILY: verdana, Geneva, Arial, Helvetica, sans-serif;
}

.scrollerTable {
	BORDER-RIGHT: 1px solid; 
	PADDING-RIGHT: 2px; 
	BORDER-TOP: 1px solid; 
	PADDING-LEFT: 2px; 
	FONT-SIZE: 11px; 
	PADDING-BOTTOM: 2px; 
	BORDER-LEFT: 1px solid; 
	WIDTH: 400px; COLOR: #000000; 
	PADDING-TOP: 2px; 
	BORDER-BOTTOM: 1px solid; 
	FONT-FAMILY: verdana, Geneva, Arial, Helvetica, sans-serif;
}
.scroller {
	PADDING-LEFT: 20px
}
.paginator {
	FONT-SIZE: 11px; 
	FONT-FAMILY: verdana, Geneva, Arial, Helvetica, sans-serif
}
.standardTable {
	BORDER-RIGHT: 1px solid; 
	PADDING-RIGHT: 2px; 
	BORDER-TOP: 1px solid; 
	PADDING-LEFT: 2px; 
	FONT-SIZE: 11px; 
	PADDING-BOTTOM: 2px; 
	BORDER-LEFT: 1px solid; 
	COLOR: #000000; 
	PADDING-TOP: 2px; 
	BORDER-BOTTOM: 1px solid; 
	FONT-FAMILY: verdana, Geneva, Arial, Helvetica, sans-serif
}

.scrollerTableCont {
	BORDER-RIGHT: 1px solid; 
	PADDING-RIGHT: 2px; 
	BORDER-TOP: 1px solid; 
	PADDING-LEFT: 2px; 
	FONT-SIZE: 11px; 
	PADDING-BOTTOM: 2px; 
	BORDER-LEFT: 1px solid; 
	WIDTH: 600px; COLOR: #000000; 
	PADDING-TOP: 2px; 
	BORDER-BOTTOM: 1px solid; 
	FONT-FAMILY: verdana, Geneva, Arial, Helvetica, sans-serif;
}

TR.ROW TD {   
BACKGROUND-COLOR: #F0F8FF  
}
TR.ROWW TD {   
BACKGROUND-COLOR: #ffffe0   
}   
    
TR.ROW2 TD {   
   
background-color: #BED6F8;   
   
}
TR.ROW22 TD {   
   
background-color: #9797FF;   
   
}
TR.ROW3 TD {   
   
background-color: #E6E6FA;   
   
} 
.standardTable_Header {
	BORDER-RIGHT: medium none; PADDING-RIGHT: 3px; BORDER-TOP: medium none; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; BORDER-LEFT: medium none; COLOR: #000000; PADDING-TOP: 3px; BORDER-BOTTOM: medium none; BACKGROUND-COLOR: #ffdd00; TEXT-ALIGN: center
}
.standardTable_SortHeader {
	BORDER-RIGHT: medium none; PADDING-RIGHT: 3px; BORDER-TOP: medium none; PADDING-LEFT: 3px; FONT-WEIGHT: bold; PADDING-BOTTOM: 3px; BORDER-LEFT: medium none; COLOR: #000000; PADDING-TOP: 3px; BORDER-BOTTOM: medium none; BACKGROUND-COLOR: #ffdd00; TEXT-ALIGN: center
}
.standardTable_Footer {
	BACKGROUND-COLOR: #ffffe0
}
.standardTable_Row1 {
	BACKGROUND-COLOR: #ffffe0
}
.standardTable_Row2 {
	BACKGROUND-COLOR: #ffffe0
}
.standardTable_Column {
	
}
.standardTable_ColumnCentered {
	TEXT-ALIGN: center
}
A {
	FONT-SIZE: 11px; 
	COLOR: #333366; 
	TEXT-DECORATION: underline;
}
A:hover {
	COLOR: #333366; 
	TEXT-DECORATION: underline;
}
.error {
	FONT-SIZE: 10px; COLOR: #ff0000; FONT-FAMILY: verdana, Geneva, Arial, Helvetica, sans-serif
}
.sortLink {
	COLOR: #333366; TEXT-DECORATION: none
}
.pageLayout {
	WIDTH: 760px; HEIGHT: 100%
}
.pageHeader {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: middle; OVERFLOW: visible; COLOR: #ffffff; PADDING-TOP: 0px; HEIGHT: 1px; BACKGROUND-COLOR: #6392c6; TEXT-ALIGN: center
}
.pageHeader1 {
	
}
.pageHeader2 {
	WIDTH: 100%
}
.pageHeader2col1 {
	BACKGROUND-COLOR: #ffffff
}
.pageNavigation {
	BORDER-RIGHT: #6392c6 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #6392c6 1px solid; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; VERTICAL-ALIGN: top; BORDER-LEFT: #6392c6 1px solid; WIDTH: 200px; PADDING-TOP: 10px; BORDER-BOTTOM: #6392c6 1px solid; BACKGROUND-COLOR: #e7eff7; TEXT-ALIGN: left
}
.pageBody {
	PADDING-RIGHT: 20px; PADDING-LEFT: 20px; PADDING-BOTTOM: 20px; VERTICAL-ALIGN: top; WIDTH: 560px; PADDING-TOP: 20px; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: left
}
.pageFooter {
	FONT-SIZE: xx-small; OVERFLOW: visible; COLOR: #ffffff; HEIGHT: 1px; BACKGROUND-COLOR: #6392c6; TEXT-ALIGN: right
}
.navigation {
	FONT-SIZE: 11px; 
	WIDTH: 100%; 
	FONT-FAMILY: verdana, Geneva, Arial, Helvetica, sans-serif;
}
.navitem {
	WHITE-SPACE: nowrap; TEXT-DECORATION: none
}
A.navitem:hover {
	COLOR: #6392c6; WHITE-SPACE: nowrap; TEXT-DECORATION: none
}
active {
	COLOR: #6392c6; WHITE-SPACE: nowrap; TEXT-DECORATION: none
}
.navitem_open {
	FONT-WEIGHT: bold; WHITE-SPACE: nowrap; TEXT-DECORATION: none
}
A.navitem_open:hover {
	FONT-WEIGHT: bold; COLOR: #6392c6; WHITE-SPACE: nowrap; TEXT-DECORATION: none
}
active {
	FONT-WEIGHT: bold; COLOR: #6392c6; WHITE-SPACE: nowrap; TEXT-DECORATION: none
}
.navitem_active {
	FONT-WEIGHT: bold; WIDTH: 100%; COLOR: #ffffff; WHITE-SPACE: nowrap; BACKGROUND-COLOR: #6392c6; TEXT-DECORATION: none
}
A.navitem_active:hover {
	FONT-WEIGHT: bold; WIDTH: 100%; COLOR: #ffffff; WHITE-SPACE: nowrap; BACKGROUND-COLOR: #6392c6; TEXT-DECORATION: none
}
active {
	FONT-WEIGHT: bold; WIDTH: 100%; COLOR: #ffffff; WHITE-SPACE: nowrap; BACKGROUND-COLOR: #6392c6; TEXT-DECORATION: none
}
.navseparator {
	LINE-HEIGHT: 12px; BORDER-BOTTOM: #a2b7c5 1px solid
}
.fileUploadInput {
	FONT-SIZE: 11px; 
	WIDTH: 250px; 
	COLOR: #000000; 
	FONT-FAMILY: verdana, Geneva, Arial, Helvetica, sans-serif;
}
.emptyHeader {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px; BACKGROUND-COLOR: #ffffff
}
DIV.titlebar {
	CLEAR: both; BORDER-RIGHT: #8cacbb 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #8cacbb 1px solid; PADDING-LEFT: 1px; BACKGROUND: #c7d0d9; PADDING-BOTTOM: 1px; MARGIN: 1px; BORDER-LEFT: #8cacbb 1px solid; COLOR: black; PADDING-TOP: 1px; BORDER-BOTTOM: #8cacbb 1px solid
}
.yearMonthHeader {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; FONT-WEIGHT: bold; BORDER-LEFT: medium none; COLOR: #000000; BORDER-BOTTOM: medium none; BACKGROUND-COLOR: #dddddd; TEXT-ALIGN: center
}
.weekHeader {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; BORDER-LEFT: medium none; COLOR: #000000; BORDER-BOTTOM: medium none; BACKGROUND-COLOR: #e7e7e7; TEXT-ALIGN: center
}
.currentDayCell {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; BORDER-LEFT: medium none; COLOR: #000000; BORDER-BOTTOM: medium none; BACKGROUND-COLOR: #dddddd
}
.popup {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 5px; FONT-SIZE: smaller; PADDING-BOTTOM: 5px; BORDER-LEFT: #cccccc 1px solid; COLOR: #000000; PADDING-TOP: 5px; BORDER-BOTTOM: #cccccc 1px solid; BACKGROUND-COLOR: rgb(255,255,255)
}
.popup TABLE {
	FONT-SIZE: smaller
}
.countryFormTable {
	BORDER-RIGHT: 0px solid; 
	PADDING-RIGHT: 2px; 
	BORDER-TOP: 0px solid; 
	PADDING-LEFT: 2px; 
	FONT-SIZE: 11px; 
	PADDING-BOTTOM: 2px; 
	BORDER-LEFT: 0px solid; 
	COLOR: #000000; 
	PADDING-TOP: 2px; 
	BORDER-BOTTOM: 0px solid; 
	FONT-FAMILY: verdana, Geneva, Arial, Helvetica, sans-serif
}
.countryFormHeader {
	PADDING-RIGHT: 2px; 
	PADDING-LEFT: 2px; 
	FONT-WEIGHT: normal; 
	FONT-SIZE: 11px; 
	PADDING-BOTTOM: 2px; 
	COLOR: #000000; 
	BORDER-TOP-STYLE: none; 
	PADDING-TOP: 2px; 
	FONT-FAMILY: verdana, Geneva, Arial, Helvetica, sans-serif; 
	BORDER-RIGHT-STYLE: none; 
	BORDER-LEFT-STYLE: none; 
	BACKGROUND-COLOR: #ffdd00; 
	TEXT-ALIGN: center; 
	BORDER-BOTTOM-STYLE: none
}
.countryFormFooter {
	PADDING-RIGHT: 2px; 
	PADDING-LEFT: 2px; 
	FONT-WEIGHT: normal; 
	FONT-SIZE: 11px; 
	PADDING-BOTTOM: 2px; 
	COLOR: #000000; 
	BORDER-TOP-STYLE: none; 
	PADDING-TOP: 2px; 
	FONT-FAMILY: verdana, Geneva, Arial, Helvetica, sans-serif; 
	BORDER-RIGHT-STYLE: none; 
	BORDER-LEFT-STYLE: none; 
	BACKGROUND-COLOR: #ffdd00; 
	TEXT-ALIGN: center; 
	BORDER-BOTTOM-STYLE: none;
}
.countryFormLabels {
	BORDER-RIGHT: 0px solid; 
	PADDING-RIGHT: 2px; 
	BORDER-TOP: 0px solid; 
	PADDING-LEFT: 2px; 
	FONT-WEIGHT: bold; 
	FONT-SIZE: 11px; 
	PADDING-BOTTOM: 2px; 
	BORDER-LEFT: 0px solid; 
	COLOR: #000000; 
	PADDING-TOP: 2px; 
	BORDER-BOTTOM: 0px solid; 
	FONT-FAMILY: verdana, Geneva, Arial, Helvetica, sans-serif; 
	TEXT-ALIGN: right
}
.FormLabelsLeft {
	BORDER-RIGHT: 0px solid; 
	PADDING-RIGHT: 2px; 
	BORDER-TOP: 0px solid; 
	PADDING-LEFT: 2px; 
	FONT-WEIGHT: bold; 
	FONT-SIZE: 11px; 
	PADDING-BOTTOM: 2px; 
	BORDER-LEFT: 0px solid; 
	COLOR: #000000; 
	PADDING-TOP: 2px; 
	BORDER-BOTTOM: 0px solid; 
	FONT-FAMILY: verdana, Geneva, Arial, Helvetica, sans-serif; 
	TEXT-ALIGN: left
}
.FormLabelsMid {
	BORDER-RIGHT: 0px solid; 
	PADDING-RIGHT: 2px; 
	BORDER-TOP: 0px solid; 
	PADDING-LEFT: 2px; 
	FONT-WEIGHT: bold; 
	FONT-SIZE: 11px; 
	PADDING-BOTTOM: 2px; 
	BORDER-LEFT: 0px solid; 
	COLOR: #336600; 
	PADDING-TOP: 2px; 
	BORDER-BOTTOM: 0px solid; 
	FONT-FAMILY: verdana, Geneva, Arial, Helvetica, sans-serif; 
	TEXT-ALIGN: center
}
.yellowcolor{
	background-color: #EEEE00;
}
.redcolor{
	background-color: #FF6A6A;
}
.formLabelswidth25 {
	BORDER-RIGHT: 0px solid; 
	PADDING-RIGHT: 2px; 
	BORDER-TOP: 0px solid; 
	PADDING-LEFT: 2px; 
	FONT-WEIGHT: bold; 
	FONT-SIZE: 11px; 
	PADDING-BOTTOM: 2px; 
	BORDER-LEFT: 0px solid; 
	WIDTH: 25%; COLOR: #000000; 
	PADDING-TOP: 2px; 
	BORDER-BOTTOM: 0px solid; 
	FONT-FAMILY: verdana, Geneva, Arial, Helvetica, sans-serif; 
	TEXT-ALIGN: right
}
.formLabelswidth26 {
	BORDER-RIGHT: 0px solid; 
	PADDING-RIGHT: 2px; 
	BORDER-TOP: 0px solid; 
	PADDING-LEFT: 2px; 
	FONT-WEIGHT: bold; 
	FONT-SIZE: 11px; 
	PADDING-BOTTOM: 2px; 
	BORDER-LEFT: 0px solid; 
	WIDTH: 25%; COLOR: white; 
	PADDING-TOP: 2px; 
	BORDER-BOTTOM: 0px solid; 
	FONT-FAMILY: verdana, Geneva, Arial, Helvetica, sans-serif; 
	TEXT-ALIGN: right
}
.imageheadrowJss{
	  background:url(../images/TitleBar.jpg) no-repeat left top;
	  color: black;
	  font-weight: bold;
	  font-family: arial;
	  font-size: 14px;
	  font-style: normal;
	  height: 34px;
	  vertical-align: middle;
	  width: 780px; 	  
	  
	}
	
	.imageheadrowJs{
	  background:url(../images/TitleBar.jpg) no-repeat left top;
	  color: black;
	  font-weight: bold;
	  font-family: arial;
	  font-size: 14px;
	  font-style: normal;
	  height: 34px;
	  vertical-align: middle;
	  width: 800px; 	  
	  
	}


.formLabelswidth20 {
	BORDER-RIGHT: 0px solid; 
	PADDING-RIGHT: 2px; 
	BORDER-TOP: 0px solid; 
	PADDING-LEFT: 2px; 
	FONT-WEIGHT: bold; 
	FONT-SIZE: 11px; 
	PADDING-BOTTOM: 2px; 
	BORDER-LEFT: 0px solid; 
	WIDTH: 20%; 
	COLOR: #000000; 
	PADDING-TOP: 2px; 
	BORDER-BOTTOM: 0px solid; 
	FONT-FAMILY: verdana, Geneva, Arial, Helvetica, sans-serif; 
	TEXT-ALIGN: right
}
.formOutput {
	BORDER-RIGHT: 0px solid; 
	PADDING-RIGHT: 2px; 
	BORDER-TOP: 0px solid; 
	PADDING-LEFT: 2px; 
	FONT-SIZE: 11px; 
	PADDING-BOTTOM: 2px; 
	BORDER-LEFT: 0px solid; 
	COLOR: #000000; 
	PADDING-TOP: 2px; 
	BORDER-BOTTOM: 0px solid; 
	FONT-FAMILY: verdana, Geneva, Arial, Helvetica, sans-serif; 
	TEXT-ALIGN: left
}
.formOutput20 {
	BORDER-RIGHT: 0px solid; 
	PADDING-RIGHT: 2px; 
	BORDER-TOP: 0px solid; 
	PADDING-LEFT: 2px; 
	FONT-SIZE: 11px; 
	PADDING-BOTTOM: 2px; 
	BORDER-LEFT: 0px solid; 
	WIDTH: 20%; 
	COLOR: #000000; 
	PADDING-TOP: 2px; 
	BORDER-BOTTOM: 0px solid; 
	FONT-FAMILY: verdana, Geneva, Arial, Helvetica, sans-serif; 
	TEXT-ALIGN: left
}
.formOutput25 {
	BORDER-RIGHT: 0px solid; 
	PADDING-RIGHT: 2px; 
	BORDER-TOP: 0px solid; 
	PADDING-LEFT: 2px; 
	FONT-SIZE: 11px; 
	PADDING-BOTTOM: 2px; 
	BORDER-LEFT: 0px solid; 
	WIDTH: 25%; COLOR: #000000; 
	PADDING-TOP: 2px; 
	BORDER-BOTTOM: 0px solid; 
	FONT-FAMILY: verdana, Geneva, Arial, Helvetica, sans-serif; 
	TEXT-ALIGN: left
}
.FormInput150 {
	BORDER-RIGHT: 0px solid; 
	PADDING-RIGHT: 2px; 
	BORDER-TOP: 0px solid; 
	PADDING-LEFT: 2px; 
	FONT-SIZE: 11px; 
	PADDING-BOTTOM: 2px; 
	BORDER-LEFT: 0px solid; 
	WIDTH: 200px; 
	COLOR: #000000; 
	PADDING-TOP: 2px; 
	BORDER-BOTTOM: 0px solid; 
	FONT-FAMILY: verdana, Geneva, Arial, Helvetica, sans-serif;
}
.countryFormInputs {
	BORDER-RIGHT: 0px solid; 
	PADDING-RIGHT: 2px; 
	BORDER-TOP: 0px solid; 
	PADDING-LEFT: 2px; 
	FONT-SIZE: 11px; 
	PADDING-BOTTOM: 2px; 
	BORDER-LEFT: 0px solid; 
	COLOR: #000000; 
	PADDING-TOP: 2px; 
	BORDER-BOTTOM: 0px solid; 
	FONT-FAMILY: verdana, Geneva, Arial, Helvetica, sans-serif;
}

.formScanwidth25 {
	BORDER-RIGHT: 0px solid; 
	PADDING-RIGHT: 2px; 
	BORDER-TOP: 0px solid; 
	PADDING-LEFT: 4px; 
	FONT-WEIGHT: bold; 
	FONT-SIZE: 22px; 
	PADDING-BOTTOM: 2px; 
	BORDER-LEFT: 0px solid; 
	WIDTH: 100%; COLOR: #000000; 
	PADDING-TOP: 2px; 
	BORDER-BOTTOM: 0px solid; 
	FONT-FAMILY: verdana, Geneva, Arial, Helvetica, sans-serif; 
	TEXT-ALIGN: left

}

.scanButtonsFont {
	BORDER-RIGHT: 2px solid; 
	PADDING-RIGHT: 2px; 
	BORDER-TOP: 2px solid; 
	PADDING-LEFT: 2px; 
	FONT-WEIGHT: bold; 
	FONT-SIZE: 15px; 
	PADDING-BOTTOM: 2px; 
	BORDER-LEFT: 2px solid; 
	WIDTH: 100%; COLOR: #000000; 
	PADDING-TOP: 2px; 
	BORDER-BOTTOM: 2px solid; 
	FONT-FAMILY: verdana, Geneva, Arial, Helvetica, sans-serif; 
	TEXT-ALIGN: center

}

.formScanList {
	BORDER: 1px solid; 
	PADDING-RIGHT: 2px; 
	BORDER-TOP: 1px solid; 
	FONT-WEIGHT: bold; 
	FONT-SIZE: 12px; 
	PADDING-BOTTOM: 2px; 
	BORDER-LEFT: 0px solid; 
	COLOR: #000000; 
	WIDTH:235px;
	PADDING-TOP: 2px; 
	BORDER-BOTTOM: 0px solid; 
	FONT-FAMILY: verdana, Geneva, sans-serif; 
	TEXT-ALIGN: left;
	Verticle-ALIGN: Center;
}
.formScanList1 {
	BORDER: 1px solid; 
	PADDING-RIGHT: 2px; 
	BORDER-TOP: 1px solid; 
	FONT-WEIGHT: bold; 
	FONT-SIZE: 18px; 
	PADDING-BOTTOM: 2px;
	PADDING-LEFT: 2px;  
	BORDER-LEFT: 0px solid; 
	COLOR: #000000; 
	WIDTH:235px;
	PADDING-TOP: 2px; 
	BORDER-BOTTOM: 0px solid; 
	FONT-FAMILY: verdana, Geneva, sans-serif; 
	TEXT-ALIGN: left;
	Verticle-ALIGN: Center;
}

.fontsize {
	FONT-WEIGHT: bold; 
	FONT-SIZE: 15px; 
	FONT-FAMILY: verdana, Geneva, Arial, Helvetica, sans-serif; 
	TEXT-ALIGN: left

}
.nodeFolder {
	FONT-SIZE: 10px; FONT-FAMILY: Verdana, Geneva, sans-serif; TEXT-DECORATION: none
}
.document {
	FONT-SIZE: 10px; COLOR: blue; FONT-FAMILY: Verdana, Geneva, sans-serif; TEXT-DECORATION: none
}
.documentSelected {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: blue; FONT-FAMILY: Verdana, Geneva, sans-serif; TEXT-DECORATION: none
}
.childCount {
	FONT-SIZE: 10px; COLOR: blue; FONT-FAMILY: Verdana, Geneva, sans-serif; TEXT-DECORATION: none
}
#subnavigation {
	BORDER-RIGHT: #546359 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #546359 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 20px; MARGIN-LEFT: 0px; BORDER-LEFT: #546359 1px solid; MARGIN-RIGHT: 20px; PADDING-TOP: 0px; BORDER-BOTTOM: #546359 1px solid; BACKGROUND-COLOR: #eaf4f4
}
#subnavigation_outer {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 220px; PADDING-TOP: 0px
}
#subnavigation_outer H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 1.5em; PADDING-BOTTOM: 15px; MARGIN: 0px; PADDING-TOP: 0px
}
#hNav_outer {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 800px; PADDING-TOP: 0px; HEIGHT: 60px
}
#hNav_outer UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#hNav_outer UL LI UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#hNav_outer UL A {
	TEXT-DECORATION: none
}
#hNav_outer UL LI {
	PADDING-RIGHT: 5px; DISPLAY: block; PADDING-LEFT: 5px; FLOAT: left; PADDING-BOTTOM: 5px; MARGIN: 0px; PADDING-TOP: 5px
}
#hNav_outer UL LI UL {
	DISPLAY: none
}
#hNav_outer UL LI.off UL {
	BACKGROUND: #224d6f; LEFT: 15px; WIDTH: 740px; POSITION: absolute; TOP: 44px
}
#hNav_outer UL LI.on UL {
	BACKGROUND: #224d6f; LEFT: 15px; WIDTH: 740px; POSITION: absolute; TOP: 44px
}
#hNav_outer UL LI.on UL {
	DISPLAY: block; BACKGROUND: #f90
}
#hNav_outer UL LI.on:hover UL {
	BACKGROUND: #224d6f
}
#hNav_outer UL LI.over UL {
	BACKGROUND: #224d6f
}
#hNav_outer UL LI A {
	PADDING-RIGHT: 5px; DISPLAY: block; PADDING-LEFT: 5px; FONT-WEIGHT: bold; PADDING-BOTTOM: 5px; COLOR: #224d6f; PADDING-TOP: 5px
}
#hNav_outer UL LI.on A {
	BACKGROUND: #f90; COLOR: #fff
}
#hNav_outer UL LI.on UL A {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; FLOAT: left; BORDER-LEFT: 0px; WIDTH: auto; COLOR: #f90; BORDER-BOTTOM: 0px
}
#hNav_outer UL LI.off UL A {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; FLOAT: left; BORDER-LEFT: 0px; WIDTH: auto; COLOR: #f90; BORDER-BOTTOM: 0px
}
#hNav_outer UL LI.on:hover UL A {
	BACKGROUND: #224d6f
}
#hNav_outer UL LI.over UL LI A {
	BACKGROUND: #224d6f
}
#hNav_outer UL LI.off:hover UL {
	DISPLAY: block; Z-INDEX: 6000
}
#hNav_outer UL LI.over UL {
	DISPLAY: block; Z-INDEX: 6000
}
#hNav_outer UL LI.off A:hover {
	BACKGROUND: #29497b; COLOR: #f90
}
#hNav_outer UL LI:hover A {
	BACKGROUND: #29497b; COLOR: #f90
}
#hNav_outer UL LI.over A {
	BACKGROUND: #29497b; COLOR: #f90
}
#hNav_outer UL LI.off A:hover {
	COLOR: #f90
}
#hNav_outer UL LI.on A:hover {
	COLOR: #f90
}
#hNav_outer UL LI.off UL A {
	DISPLAY: block; BACKGROUND: #224d6f; COLOR: #fff
}
#hNav_outer UL LI.on UL A {
	DISPLAY: block; BACKGROUND: #f90; COLOR: #fff
}
#subnavigation UL LI A {
	PADDING-RIGHT: 20px; DISPLAY: block; PADDING-LEFT: 20px; PADDING-BOTTOM: 2px; MARGIN: 0px; COLOR: #294747; PADDING-TOP: 2px; BORDER-BOTTOM: #87a8a8 1px solid; BACKGROUND-COLOR: #d1e4e4; TEXT-DECORATION: none
}
#subnavigation UL LI A:visited {
	COLOR: #294747
}
#subnavigation UL LI A:hover {
	COLOR: #ffffff; BACKGROUND-COLOR: #87a8a8
}
#subnavigation UL LI A:active {
	COLOR: #294747
}
#subnavigation UL LI A.selected {
	FONT-WEIGHT: bold; COLOR: #294747; BACKGROUND-COLOR: #ffffff
}
#subnavigation UL UL LI A {
	PADDING-RIGHT: 20px; PADDING-LEFT: 25px; PADDING-BOTTOM: 2px; MARGIN: 0px; PADDING-TOP: 2px; BACKGROUND-COLOR: #ffffff
}
#subnavigation UL UL LI UL LI A {
	PADDING-RIGHT: 20px; PADDING-LEFT: 30px; PADDING-BOTTOM: 2px; MARGIN: 0px; PADDING-TOP: 2px
}
#subnavigation UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#subnavigation LI {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#subnavigation UL.mypage LI A {
	PADDING-RIGHT: 20px; PADDING-LEFT: 20px; PADDING-BOTTOM: 2px; MARGIN: 0px; PADDING-TOP: 2px; BACKGROUND-COLOR: #eaf4f4
}
#subnavigation UL.mypage UL LI A:hover {
	COLOR: #ffffff; BACKGROUND-COLOR: #87a8a8
}

.alignscannerheader {
	TEXT-ALIGN: left
}
.formLabelswidth28 {
	BORDER-RIGHT: 0px solid; 
	PADDING-RIGHT: 2px; 
	BORDER-TOP: 0px solid; 
	PADDING-LEFT: 2px; 
	FONT-WEIGHT: bold; 
	FONT-SIZE: 11px; 
	PADDING-BOTTOM: 2px; 
	BORDER-LEFT: 0px solid; 
	WIDTH: 25%; COLOR: #000000; 
	PADDING-TOP: 2px; 
	BORDER-BOTTOM: 0px solid; 
	FONT-FAMILY: verdana, Geneva, Arial, Helvetica, sans-serif; 
	TEXT-ALIGN: left
}

.formLabelswidth29 {
	BORDER-RIGHT: 0px solid; 
	PADDING-RIGHT: 2px; 
	BORDER-TOP: 0px solid; 
	PADDING-LEFT: 2px; 
	COLOR:#1E337E;
	FONT-SIZE: 12px; 
	PADDING-BOTTOM: 2px; 
	BORDER-LEFT: 0px solid; 
	WIDTH: 25%;  
	PADDING-TOP: 2px; 
	BORDER-BOTTOM: 0px solid; 
	FONT-FAMILY: verdana; 
	TEXT-ALIGN: left
}
